.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.body {
  margin-top: 10px;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.logo {
  height: 300px;
  width: 200px;
  margin-bottom: 10px;
}
