<div class="wrapper">
  <div class="body">
    <form action="">
      <img
        src="/Users/lautaroolmedo/NodeJS/canchitas-libres-angular/assets/diego.jpg"
        class="logo"
        alt=""
      />
      <h1 class="mb-4 mt-3">Registro</h1>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Nombre</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Apellido</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Fecha de nacimiento</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">DNI</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Contraseña</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Celular</label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Registrarme</button>
      </div>
      <div>
        <p class="mt-3">
          <a routerLink="/login">Volver</a>
        </p>
      </div>
    </form>
  </div>
</div>
