.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 100%;
  background-color: antiquewhite;
}

.body {
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.logo {
  height: 100px;
  margin-bottom: 10px;
}
