.background-container{
  width: 100%;
  height: 100vh;
  background-image: url('https://img.freepik.com/foto-gratis/estadio-futbol-noche_23-2151952489.jpg?semt=ais_hybrid&w=740');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
